<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

<html>
    <head>
            <title>RatonGato: Server</title>
    </head>
    <body>
        <ul>
            <li><a href="/server/counter">counter</a></li>
            <li><a href="/server/register_user">register</a></li>
            <li><a href="/server/login_user">login</a></li>
            <li><a href="/server/logout_user">logout</a></li>
            <li><a href="/server/create_game">create_game</a></li>
            <li><a href="/server/clean_orphan_games">clean_orphan_games</a></li>
            <li><a href="/server/join_game">join_game</a></li>
            <li><a href="/server/move">move</a></li>
            <li><a href="/server/status_turn">status_turn</a></li>
            <li><a href="/server/status_board">status_board</a></li>
        </ul>
    </body>
</html>
