<!DOCTYPE html>
<html>
    <head>
        <title>RatonGato</title>
    </head>

    <body>
        <h1>Logout</h1>

        <strong>Dear {{username}} you have been logged out</strong><br />
        <a href="/server/index">Index</a>

    </body>
</html>