<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
  <head>
    <title>You are not logged</title>
  </head>
  <body>
    Please logging <a href="/server/login_user/">here</a><br />
        <a href="/server/index">Index</a>
  </body>
</html>
